

/*版心*/
.jd_container {
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    background: pink;
    height: 1000px;
}
/*顶部搜索*/
.jd_search {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(201,21,25,0.85);
}