

/*版心*/
.jd_container {
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    background: pink;
    height: 1000px;
}
/*顶部搜索*/
.jd_search {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}
.jd_search .jd_search_box {
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background: rgba(201,21,25,0.5);
    position: relative;
}
.jd_search .jd_search_box .icon_logo {
    position: absolute;
    left: 10px;
    top: 0;
    width: 60px;
    height: 40px;
    background: url("../images/sprites.png") no-repeat 0 -102px / 200px 200px;
}
.jd_search .jd_search_box .login {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
}
.jd_search .jd_search_box form {
    padding-left: 70px;
    padding-right: 50px;
    width: 100%;
    height: 40px;
    position: relative;
}
.jd_search .jd_search_box form input {
    height: 30px;
    width: 100%;
    margin-top: 5px;
    border-radius: 15px;
    background: #fff;
    border: 1px #fff solid;
    padding-left: 35px;

}
.jd_search .jd_search_box form .icon_search {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 80px;
    top: 10px;
    background: pink;
    background: url("../images/sprites.png") no-repeat -60px -110px / 200px 200px;

}
/*轮播图*/
.jd_banner {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.jd_banner ul:first-child{
    list-style-type: none;
    width: 1000%;
    display: flex;

}
.jd_banner ul:first-child li{
    width: 10%;
}
.jd_banner ul:first-child li a{
    width: 100%;
}
.jd_banner ul:first-child li a img{
    width: 100%;
    display: block;
}

.jd_banner ul:last-child{
    list-style-type: none;
    position: absolute;
    bottom: 6px;
    width: 118px;
    height: 6px;
    left: 50%;
    margin-left: -69px;
    display: flex;
}
.jd_banner ul:last-child li{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
    margin-left: 10px;
}
.jd_banner ul:last-child li:first-child{
    margin-left: 0;
}
.jd_banner ul:last-child li.now{
    background: #fff;
}
