
body{
    background: #f5f5f5;
}
/*版心*/
.jd_container {
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}
/*顶部搜索*/
.jd_search {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}
.jd_search .jd_search_box {
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background: rgba(201,21,25,0);
    position: relative;
}
.jd_search .jd_search_box .icon_logo {
    position: absolute;
    left: 10px;
    top: 0;
    width: 60px;
    height: 40px;
    background: url("../images/sprites.png") no-repeat 0 -102px / 200px 200px;
}
.jd_search .jd_search_box .login {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
}
.jd_search .jd_search_box form {
    padding-left: 70px;
    padding-right: 50px;
    width: 100%;
    height: 40px;
    position: relative;
}
.jd_search .jd_search_box form input {
    height: 30px;
    width: 100%;
    margin-top: 5px;
    border-radius: 15px;
    background: #fff;
    border: 1px #fff solid;
    padding-left: 35px;

}
.jd_search .jd_search_box form .icon_search {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 80px;
    top: 10px;
    background: url("../images/sprites.png") no-repeat -60px -110px / 200px 200px;

}
/*轮播图*/
.jd_banner {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.jd_banner ul:first-child{
    list-style-type: none;
    width: 1000%;
    display: flex;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);

}
.jd_banner ul:first-child li{
    width: 10%;
}
.jd_banner ul:first-child li a{
    width: 100%;
}
.jd_banner ul:first-child li a img{
    width: 100%;
    display: block;
}

.jd_banner ul:last-child{
    list-style-type: none;
    position: absolute;
    bottom: 6px;
    width: 118px;
    height: 6px;
    left: 50%;
    margin-left: -69px;
    display: flex;
}
.jd_banner ul:last-child li{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
    margin-left: 10px;
}
.jd_banner ul:last-child li:first-child{
    margin-left: 0;
}
.jd_banner ul:last-child li.now{
    background: #fff;
}



/*导航栏*/
.jd_nav {
    width: 100%;
    background: #fff;
    padding-bottom: 10px;
}
.jd_nav ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.jd_nav ul li{
    flex: 25%;
    padding-top: 10px;
}
.jd_nav ul li a{
    display: block;
    width: 100%;
}
.jd_nav ul li a img{
    display: block; /*改成块级元素*/
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.jd_nav ul li a span{
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
}
/*产品区块*/
.jd_product {
    padding: 0 5px;
    width: 100%;
}
.jd_product_box {
    margin-top: 10px;
    background: #fff;
    /*min-height: 180px;*/
}
.jd_product_box .tit{
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #ddd;
}
.jd_product_box .tit.nb {
    border-bottom: none;
}
.jd_product_box .tit .con{
    padding-left: 23px;
    position: relative;
}
.tit .con::before{
    content: "";
    width: 3px;
    height: 12px;
    position: absolute;
    left: 10px;
    top: 4px;
    background: #d8505c;
}
/*秒杀*/
.sk .tit.nb {
    display: flex;
    position: relative;
}
.sk .icon{
    width: 16px;
    height: 20px;
    display: block;
    margin-left: 10px;
    margin-top: 5px;
    background: url("../images/seckill-icon.png") no-repeat center / 16px 20px;

}
.sk .conFirst {
    margin-left: 5px;
    color: #d8505c;
}
.sk .time {
    margin-left: 10px;
}
.sk .time span{
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    color: #fff;
    background: #333;
}
.sk .time span:nth-child(3n){
    background: #fff;
    width: 3px;
    color: #333;
}

.sk .more{
    position: absolute;
    right: 10px;
}
.sk .sk_content {
    margin-top: 10px;
    display: flex;
    width: 100%;
}
.sk .sk_content .sk_item {
    flex: 33.333333%;
    border-right: 1px solid #ddd;

}
.sk .sk_content .sk_item:nth-child(3n) {

    border-right: none;

}
.sk .sk_content .sk_item img{
    display: block;
    width: auto;
    height: auto;
    max-width: 64%;
    margin: 0 auto;

}
.sk .sk_content .sk_item span {
    display: block;
    width: 100%;
    text-align: center;
}
.sk .sk_content .sk_item .newPlace{
    margin-top: 10px;
    color: #d8505c;
}
.sk .sk_content .sk_item .oldPlace{
    color: #333;
    text-decoration: line-through;
}

.superMarket .content {
    width: 100%;
    display: flex;
}
.superMarket .content .left,.right{
    flex: 50%;
}
.superMarket .content img{
    display: block;
    width: 100%;
}
.superMarket .content .left{
    border-right: 1px solid #ddd;
}

.superMarket .content .right .first {
    border-bottom: 1px solid #ddd;
}